 .cart-container{
  width: 1400px;
  margin: 40px auto;
  padding: 25px 30px;
  background: #ffffff; 
  border-radius: 12px; 
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}
 
 
 
 /* .alert {
    margin-top: 40px;
    text-align: center;
    font-size:xx-large;
    font-weight: 700;

} */


.alert{
  margin: 30px auto;
  padding: 30px 365px;
  text-align: center;
  font-size:xx-large;
  font-weight: 700;
  /* background: #f4f6f8;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06); */
}


input{
  text-align: center;



}




.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

  
  }
  
  
  .table thead{
    background-color:#ffa500;
    }
  
    .table thead tr th {
      font-size:14px;
      font-weight:600;
      letter-spacing:0.35px;
      color:#FFFFFF;
      opacity:1;
      padding:12px;
      vertical-align:top;
      border:1px solid #dee2e685;
  
      }
  
      th,
      td {
        padding: 8px;
  
        /* text-align: left; */
        text-align: center;
        border: 1px solid #ddd;
      }
      
      
      tbody tr:hover {
        background-color: #f5f5f5;
      }
      
  
      .table tbody tr td  .btn{
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 90px;
        margin-bottom: 10px;
        color:#FFFFFF;
      }
  
  
      .table tbody tr td .btn .Ligne {
        color: rebeccapurple;
      }
  
      .table tbody tr td .form-control-left{
        width:200px;
        padding: 5px;
        text-align: center;
        position: relative;
        font-family: Arial;
        /* display: none; */
        background-color: DodgerBlue;
  
      }
     
  
    
  
  
  
  
  
       
  
    @media  (max-width:768px){
      .table thead{
           display:none;
          }
    
    .table ,.table tbody,.table tr ,.table td{
              display:block;
              width:100%;
    }
  
    .table tr {
      margin-bottom: 15px;
  }
  
  .table tbody tr td {
    text-align: right;
    padding-left: 50px;
    position: relative;
  
  }
  
  .table td:before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 600;
    text-align: left;
  }



  .bouttons .btn{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 250px;
    margin: 10px;
    
  }


 .table tbody tr td input{

  text-align: right;
    padding-left: 5px;
    position: relative;

  }
 
    
    }



  
  

  
  
  