body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    padding: 10px;
    background: black;
    color: bisque;
    text-align: center;
}



footer  .footer-logo {

     /* margin-bottom: 30px; */
    /*font-weight: 300;
    padding-top: 30px; */
    font-size: 36px;
    font-weight: 550;
    padding-top: 30px;

    color: bisque;
    text-shadow: 0px 0px 1px  bisque;
}
/* .footer h1 span{
    color:bisque;
} */


footer  .footer-logo span{
margin-bottom: 30px;
 color:bisque;
}


footer p{

    font-weight: 600;
    padding-top: 30px;
    color: white;

}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: white;
    color: black;
    margin-left: 10px;
    /* margin-bottom: 10px; */
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background:blue;
}
/* Footer End */